
@{
    ViewData["Title"] = "About Us";
}

<h1>Joe's Used Cars</h1>

<h2>Trust us, we are the only honest car dealership in the NorthWest!</h2>

<p>
    Text would go here to describe why we are the only honest dealership in the NW, and why 
    a car buyer should trust us.
</p>

<h3>Contact us</h3>

<p>
    Email us at <a href="mailto:support@joescars.com">support@joescars.com</a>
</p>