@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JOE'S USED CAR CENTER</h1>
    <p>THIS IS WHERE I WANT THE PICTURE</p>
    <h2>"HOME OF THE NATIONS ONLY TRUSTWORTHY SALES STAFF, GUARANTEED!"</h2>
</div>
